h1 {
  font-size: 48px;         
  margin-bottom: 15px;      
}

p {
  font-size: 20px;           
}
#inicio {
  background-color: #fff;  /* Color de fondo para la sección de inicio */
}

#celulares {
  background-color: #000;     /* Color de fondo para la sección de celulares */
  color: #fff;                /* Cambia el color del texto a blanco */
}

#accesorios {
  background-color: #fff;  /* Color de fondo para la sección de accesorios */
}

#sonido {
  background-color: #000;  /* Color de fondo para la sección de sonido */
  color: #fff;
}

#marcas {
  background-color: #000;  /* Color de fondo para la sección de sonido */
  color: #fff;
}
